<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Encurtador de LINK</title>
<link rel="icon" href="{{ url_for('static', path='img/image4.png') }}">
<link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
<main>
    <section id="sessao1">
        <label class="amarelo-cor font-popp tamanho-one">ENCURTA LINK</label>
        <p style="margin-top: -15px;" class="branco-cor font-second tamanho-second alinha-direita">ESCOLHA UM APELIDO PARA FACILITAR</p>
        <button class="style-button font-second" onClick="encurtar();" type="button">ENCURTAR</button>
        <input type="text" id="link" class="style-input" placeholder="EX: http://python.org">
        <br>
        <div id="optional"> 
            <div id="option1">
                <button id="btnopt" onClick="option();">ADD APELIDO</button>
            </div>
            <div id="option2" style="display: none;">
                <button id="cancelopt" onClick="canceloption();">X</button>
                <input type="text" id="custom" class="two-input" placeholder="EX: python">
            </div>
        </div>

        <br>
        <div class="awnser" id="awnser" style="visibility: hidden;">
            <div class="container">
                <div class="circulo"></div>
                <label style="color:#fccb00;" class="font-second">URL:</label>
                <p id="idurl" class="text-gerado"></p>
             </div>
             <div class="container">
                <div class="circulo"></div>
                <label style="color:#fccb00;" class="font-second">CLICKS:</label>
                <p id="idclicks" class="text-gerado"></p>
             </div>
                <div class="container">
                <div class="circulo"></div>
                <label style="color:#fccb00;" class="font-second">ADMIN:</label>
                <p id="idadmin" class="text-gerado"></p>
             </div>
        </div>
        </section>
        <div class="passar">
            <a style="text-decoration: none; font-family: sans-serif;" href="#sessao2"><div class="circulo-dois">↓</div></a>
        </div>
    </main>
    <section id="sessao2">
        <header>
            <label class="amarelo-cor font-popp tamanho-second">MOTIVOS PARA USAR NOSSO ENURTADOR</label>
        </header>
        <nav>
            <article>
                <div class="image"><img src="{{ url_for('static', path='img/image1.png') }}"></div>
                <div class="texts">
                    <span class="font-second">Fácil, Rapido e intuitivo</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Domínio fácil e intuitivo de se memorizar e usar, tornando os seus links encurtados mais amigáveis para se compartilhar e facilitando o engajamento da sua audiência.</p>
                </div>
            </article>
            <article>
                <div class="image"><img src="{{ url_for('static', path='img/image4.png') }}"></div>
                <div class="texts">
                    <span class="font-second">Links Seguros</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Todas as suas URLs encurtadas são criptografas por padrão, tornandos as mais seguras através de certificados de segurança (HTTPS) consolidados no mercado.</p>
                </div>
            </article>
            <article>
                <div class="image"><img src="{{ url_for('static', path='img/image2.png') }}"></div>
                <div class="texts">
                    <span class="font-second">Estatísticas</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Verifique o total de cliques da sua url encurtada, edite ou exclua a sua url encurtada!</p>
                </div>
            </article>
            <article>
                <div class="image"><img src="{{ url_for('static', path='img/image3.png') }}"></div>
                <div class="texts">
                    <span class="font-second">Grátis</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Crie quantos links encurtados quiser e compartilhe com quantas pessoas você quiser, de forma gratuita!!.</p>
                </div>
            </article>
        </nav>
    </section>
<script>

    function option(){
        var div1 = document.querySelector("#option1").style.display = 'none';
        var div2 = document.querySelector("#option2").style.display = 'inline';
    }
    function canceloption(){
        var div1 = document.querySelector("#option2").style.display = 'none';
        var div2 = document.querySelector("#option1").style.display = 'inline';
    }

    function encurtar(){
        var compare = document.getElementById("option2");
        var input = document.querySelector("#link");
        var link = input.value;
        var verific = link.substr(0, 4).toLowerCase()
        if(verific == ""){
            alert("Insira um link!")
        }else if(verific == "http"){
            if(compare.style.display !== "none") {
                var customy = document.querySelector("#custom").value;
                var xhr = new XMLHttpRequest();
                var url = 'https://encurtaapi.herokuapp.com/custom';
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var json = JSON.parse(xhr.responseText);
                        var myurl = json.url
                        var myclicks = json.clicks
                        var myadmin = json.admin_url
                        document.getElementById("awnser").style.visibility = "visible";
                        document.getElementById("idurl").innerText="devpy.tech/"+`${myurl}`;
                        document.getElementById("idclicks").innerText=`${myclicks}`;
                        document.getElementById("idadmin").innerText="devpy.tech"+`${myadmin}`;
                    }else if(xhr.status == 0){
                        alert('Servidor Desligado');
                        window.location.href='http://devpy.tech';
                    }else if(xhr.status == 400){
                        alert('O link está incorreto!!')
                    }else if(xhr.status == 555){
                            alert('Esse apelido ja existe!')
                        }
                };

                var data = JSON.stringify({
                    "url": {
                        "target_url": `${link}`
                    },
                    "custom": {
                        "url_custom": `${customy}`
                    }
                    });
				xhr.send(data)


                }else{
                var xhr = new XMLHttpRequest();
                var url = 'https://encurtaapi.herokuapp.com/url';
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var json = JSON.parse(xhr.responseText);
                        var myurl = json.url
                        var myclicks = json.clicks
                        var myadmin = json.admin_url
                        document.getElementById("awnser").style.visibility = "visible";
                        document.getElementById("idurl").innerText="devpy.tech/"+`${myurl}`;
                        document.getElementById("idclicks").innerText=`${myclicks}`;
                        document.getElementById("idadmin").innerText="devpy.tech"+`${myadmin}`;
                    }else if(xhr.status == 0){
                        alert('Servidor Desligado');
                        window.location.href='http://devpy.tech';
                    }else if(xhr.status == 400){
                        alert('O link está incorreto!!')
                    }
                };
                var data = JSON.stringify({'target_url': `${link}`});
                xhr.send(data);
            }
            
        }else{
            alert("o link deve conter http!")
        }
    }
</script>
</body>
</html>
